body {
  background-color: grey;
}

h1{
  padding :50px;
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
